# VSCode
/.vscode
/*/.vscode

# Env variables
.env


.git/
.gitignore
/*/.gitignore
local.settings.json
test/
README.md
__azurite*
*Azurite*
/*/__azurite*
/__blobstorage__/
/__queuestorage__/
.DS_Store
*node_modules/
__**